# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/
.env.* 

# -------------------------
# Logs
# -------------------------
logs/
*.log


# -------------------------
# OS / IDE
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Python packages
# -------------------------
*.egg-info/
*.egg
dist/
build/

# -------------------------
# Jupyter / IPython
# -------------------------
.ipynb_checkpoints/
